/* resets */
* {
    font-family: helvetica, sans-serif;
}

html, body {
    padding: 0;
    margin: 0
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

/* styles */
header, footer {
    padding: 2rem 1rem;
    background-color: olive;
}

p {
    color: olivedrab;
    width: 40%;
}

.body-content {
    padding: 1rem
}
